services:
  ai-engine:
    build: ./ai_engine_python
    ports:
      - "8000:8000"
    dns:
      - 8.8.8.8
      - 1.1.1.1
    networks:
      - sov-net

  orchestrator:
    build: ./orchestrator_elixir
    environment:
      - PYTHON_ENGINE_URL=http://ai-engine:8000
      - RUN_MODE=local_mac
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "4000:4000"
    networks:
      - sov-net

networks:
  sov-net:
    driver: bridge